<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}">
    {% comment %} <link rel="stylesheet" href="../5/morph/bootstrap.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'blog/_assets/_assets.css' %}">
    {% comment %} <link rel="stylesheet" href="../_assets/css/custom.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'blog/icon/icon.css' %}">
    {% comment %} <link rel="stylesheet" href="../_vendor/bootstrap-icons/font/bootstrap-icons.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'blog/theme/theme.css' %}">
    {% comment %} <link rel="stylesheet" href="../_vendor/prismjs/themes/prism-okaidia.css"> {% endcomment %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" id='navbar'>
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog/">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Aboutme</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <div class="container">
      <div class="col-lg-8">
        <h1>Blog</h1>

        <div class="row">
        <!-- Blog entries-->
          <!-- Featured blog post-->
          {% if object_list.exists %}
            {% for p in object_list %}
              <div class="card mb-4">
                  {% if p.head_image %}
                  <a href="#!"><img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap"/></a>
                  {% else %}
                  <img class="card-img-top" src="https://picsum.photos/id/1/750/300/?random" alt="..." />
                  {% endif %}
                  <div class="card-body">
                      <div class="small text-muted">{{ p.created }}</div>
                      <h2 class="card-title">{{ p.title }}</h2>
                      <p class="card-text">{{ p.content | truncatewords:50 }}</p>
                      <a class="btn btn-primary" href="#!">Read more →</a>
                  </div>
              </div>
            {% endfor %}
          {% else %}
            <h3>아직 게시물이 없습니다.</h3>
          {% endif %}
            <!-- Pagination-->
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
        </div>
      </div>
    </div>

    <script src="{% static 'blog/dist/dist.js' %}"></script>
    {% comment %} <script src="../_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
    <script src="{% static 'blog/prismjs/prism.js' %}"></script>
    {% comment %} <script src="../_vendor/prismjs/prism.js" data-manual=""></script> {% endcomment %}
    <script src="{% static 'blog/_assets/_assets.js' %}"></script>
    {% comment %} <script src="../_assets/js/custom.js"></script> {% endcomment %}
</body>
</html>